.container {
    width: 80%;
    margin: 0 auto;
}

.about-me {
    padding: 20px;
    text-align: center;
}

.about-me h2 {
    font-size: 3em;
    margin-bottom: 15px;
    color: #d9534f;
    transition: color 0.3s ease-in-out;
}

.about-me p {
    font-size: 1.5em;
    line-height: 1.6;
    color: #fff;
}

.about-me:hover h2 {
    color: #b52b27;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .about-me {
        padding: 10px;
    }

    .about-me h2 {
        font-size: 2em;
    }

    .about-me p {
        font-size: 1em;
    }
}


.image-grid{
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.image-grid img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10 px rgba (0, 0, 0, 0.2);
}
.text-content {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.text-content:hover {
    background-color: #d9534f; 
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%''
}
